# Specifies the hostname or service name of the Redis server.
# Default is 'redis' for Docker environments.
REDIS_HOST=<REDIS_HOST>

# The username for the PostgreSQL database connection.
POSTGRES_USER=<USER>

# The password for the PostgreSQL database user.
# IMPORTANT: Change this in your local .env file.
POSTGRES_PASSWORD=<PASS>

# The name of the PostgreSQL database to connect to.
POSTGRES_DB=<DATABASE>

# Specifies the directories the Python interpreter should look in for modules.
# In this case, it adds the /app directory to the Python path,
# allowing for absolute imports from the project's root.
PYTHONPATH=<PROJECT APP>